
select#cars {
    text-align: center;
    margin: auto;
    padding: 5px 47px 6px 9px;
}
.Drop_down{
   
    margin: 40px;
    height: 30px;
}
.table{
    width: 75%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: 5px;
    margin-right: 5px;
}
.table-body{
    margin-left: 0px;
    margin-right: 5px;
}